body {
    background-image: 
        linear-gradient(-40deg, var(--background-dark) 60%, var(--background-light))
    ;
}

/* Album Container */

    .album-container {
        background-color: var(--container);
    }

    .album-item {
        background-color: var(--albuns);
        transition: transform ease .15s, filter ease .15s;
    }

    .album-item:hover {
        cursor: pointer;

        transform: scale(1.05);

        filter: drop-shadow(0 0 1rem var(--dark-tone));
    }

    .album-image,
    .album-text-item {
        background-color: var(--sub-items);
        color: var(--);
    }

/**/