<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Album Hub</title>

    <!-- CSS -->
        <link rel="stylesheet" href="../css/reset.css">

        <link rel="stylesheet" href="../css/main_variables.css">
        <link rel="stylesheet" href="../css/style.css">

        <link rel="stylesheet" href="../css/shared/header.css">

        <link rel="stylesheet" href="../css/album-page/album-page-container.css">
        <link rel="stylesheet" href="../css/album-page/rate-album.css">
    <!---->

    <!-- CDN Vibrant.js -->
    <script src="https://unpkg.com/node-vibrant@latest/dist/vibrant.min.js"></script> 

</head>
<body>

    <!-- Header -->
    <header class="header">
        <div class="header-left">
            <ul class="header-left-actions">
                <li><a href="../views/index.html">Home</a></li>
            </ul>
        </div>
        <div class="header-middle">
            <div class="header-logo">
                <img src="../images/svg/logo/album-hub-logo-white-text.svg">
            </div>
        </div>
        <div class="header-right">
            <ul class="header-right-actions">
                <li id="rate-album-show" onclick="showRateAlbum()">Rate Album</li>
            </ul>
        </div>
    </header>

    <!-- Main Container -->
    <section class="album-page-container">

        <div class="album-page-header">

            <div class="album-page-header-image">
                <img src="#" alt="" class="album-cover" id="album-cover" crossorigin="anonymous">
            </div>

            <div class="album-page-header-text">

                <div class="album-page-header-title">
                    <span id="album-title"></span>
                </div>
                
                <div class="album-page-header-artist">
                    <span id="album-artist"></span>
                </div>

            </div>

        </div>

        <div class="album-page-middle">

            <div class="tracklist-container" id="tracklist-container">
                <div class="tracklist-items" id="tracklist-items"></div>
            </div>
    
            <div class="album-info">
                <div class="album-info-tags" id="album-info-tags"></div>
                <div class="album-rate" id="album-rate"></div>
                <div class="album-info-summary" id="album-info-summary"></div>
            </div>
            
        </div>        

    </section>

    <!-- Rate Album Section -->
    <div >
        <span>Rate Album</span>
    </div>
    <section class="rate-album-container" id="rate-album-container">

        <div class="rate-album-hide" id="rate-album-hide" onclick="hideRateAlbum()"></div>

        <div class="rate-album" id="rate-album">

            <div class="rate-album-tracklist" id="rate-album-tracklist"></div>
            
            <div class="rate-album-actions">
                <div class="rate-album-rate">
                    <span>Album rate:</span>
                    <input type="text" id="album-rate-input" autocomplete="off">
                </div>
                
                <div class="rate-album-submit" onclick="submitRateAlbum()">
                    Submit
                </div>
            </div>

        </div>

    </section>

    <!-- Scripts -->
        <script src="../js/album-page/controller.js"></script>
        <script src="../js/album-page/page-load.js"></script>

        <script src="../js/album-page/page-color.js"></script>

        <script src="../js/album-page/rate-album.js"></script>
    <!---->
</body>
</html>