<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Album Hub</title>

    <!-- CSS -->
        <link rel="stylesheet" href="../css/reset.css">

        <link rel="stylesheet" href="../css/main_variables.css">
        <link rel="stylesheet" href="../css/style.css">

        <!-- <link id="theme" rel="stylesheet" href="../css/alfa_theme.css"> -->
        <link rel="stylesheet" href="../css/album-page/album-page-container.css">
    <!---->

    <!-- CDN Vibrant.js -->
    <script src="https://unpkg.com/node-vibrant@latest/dist/vibrant.min.js"></script> 

</head>
<body>

    <section class="album-page-container">

        <div class="album-page-header">

            <div class="album-page-header-image">
                <img src="#" alt="" class="album-cover" id="album-cover" crossorigin="anonymous">
            </div>

            <div class="album-page-header-text">

                <div class="album-page-header-title">
                    <span id="album-title"></span>
                </div>
                
                <div class="album-page-header-artist">
                    <span id="album-artist"></span>
                </div>

            </div>

        </div>

        <div class="album-page-middle">

            <div class="tracklist-container" id="tracklist-container">
                <div class="tracklist-items" id="tracklist-items"></div>
            </div>
    
            <div class="album-info">
                <div class="album-info-tags" id="album-info-tags"></div>
                <div class="album-rate" id="album-rate"></div>
                <div class="album-info-summary" id="album-info-summary"></div>
            </div>
            
        </div>        

    </section>

    <script src="../js/album-page/albumPage.js"></script>
    <script src="../js/album-page/albumPageColor.js"></script>
</body>
</html>