.album-page-container {
    width: var(--main-width);

    height: 90vh;

    padding: var(--container-padding);

    display: flex;
    flex-flow: column;
    gap: var(--container-gap);

    margin-top: 5rem;

    border-radius: 1rem;
}

.album-page-header {
    display: flex;
    flex-flow: row;
    gap: var(--container-gap);
    height: 50%;
}

.album-page-header-image {
    height: 40rem;
}

.album-cover {
    height: 100%;

    border-radius: 1rem;
}

.album-page-header-text {
    flex-grow: 1;

    display: flex;
    flex-flow: column;
    gap: var(--container-gap);
}

.album-page-header-title {
    height: 65%;

    border-radius: 1rem;

    padding: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.album-page-header-title span {
    font-size: 9rem;
    text-align: center;
}

.album-page-header-artist {
    flex-grow: 1;

    border-radius: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}
.album-page-header-artist span {
    font-size: 5.4rem;
    text-align: center;
}

.album-page-middle {
    display: flex;
    gap: var(--container-gap);

    height: calc(50% - var(--container-gap));
    width: 100%;
}

.tracklist-container {

    border-radius: 1rem;

    width: 50%;
    height: 100%;

    overflow-y: auto;
}

.tracklist-items {
    background-color: var(--sub-items);

    display: flex;
    flex-flow: column;
    align-items: center;

    min-height: 100%;

    padding: 4rem;
}

.tracklist-container::-webkit-scrollbar {
    width: 10px;
}
.tracklist-container::-webkit-scrollbar-track {
    background: transparent;
    background-color: var(--sub-items);
    border-radius: 0 5rem 5rem 0;
}
.tracklist-container::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 0 5rem 5rem 0;
}

.tracklist-items span {
    font-size: 3rem;
}
}